[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "vendor/github.com/rjeczalik/notify"]
	path = vendor/github.com/rjeczalik/notify
	url = https://github.com/rjeczalik/notify
